<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lk.mybatis.dao.UserMapper">
    <select
            id="getUserByName"
            parameterType="string"
            resultType="com.lk.mybatis.pojo.User">
        select * from t_user t where t.username = #{name}
    </select>
</mapper>
